<div class="margin-large">
    <div class="container-flex margin-small">
        <div class="margin-right-small"><strong> Search Github user: </strong></div>
        <input type="text" (keyup)="onSearchUser$.next($event)" />
    </div>
    <div *ngFor="let user of users" style="margin: 20px">
        <div class="container-flex">
            <div style="font: 0.9em;width:20%"><strong>User Name: </strong>{{user.login}}</div>
            <div style="font:0.9em;width:10%"><strong>ID: </strong>{{user.id}}</div>
            <div style="font:0.9em;width:30%"><strong>GitHub URL: </strong>{{user.url}}</div>
        </div>
    </div>
    <div *ngIf="!users.length" class="margin-small">
        <label style="color:red">no search result!</label>
    </div>
</div>